﻿@model IEnumerable<MediaSharingMessenger.Models.Message>

<div id="media">@if (ViewBag.Media != null) { <span>"There should be some media"</span> } There should be a shared media</div>
<div id="dialog" style="overflow: scroll">
    @if (Model != null)
    {
        foreach (var msg in Model)
        {
            @Html.Partial("Message", msg);
        }
    }
</div>
@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "dialog", InsertionMode = InsertionMode.InsertAfter, Url = "/Dialog/" + ViewBag.DialogId.ToString() + "/Message", HttpMethod = "Post", OnSuccess="$('#message').val('');" }))
{
    <input type="text" id="message" name="message" />
    <input type="submit" value="OK" />
}