﻿@model MediaSharingMessenger.Models.Message

@Model.ToString() <br/>
@if (ViewBag.Redirect != null)
{
    <script type='text/javascript'>
            window.location.replace("@Url.Action("Index", "Dialog", new { id =  ViewBag.Redirect.ToString() })")
    </script>
}