﻿@model IEnumerable<MediaSharingMessenger.Models.Message>

<h3>Dialogs</h3>
@if (Model != null)
{
    foreach (var message in Model)
    {
        @Html.ActionLink(message.ToString(), "Index", "Dialog")<br/>;
    }
}
