﻿@using MediaSharingMessenger.Models;

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>My MVC Application</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
        <div id="main">
            <table style="width: 100%; height:100%">
                <tr>
                    <td id="contactslist" style="width: 25%">@Html.Partial("ContactsListPartial", (IEnumerable<User>) ViewBag.Contacts) There should be an contacts list.</td>
                    <td style="width: 50%">@RenderBody()</td>
                    <td id="dialogslist" style="width: 25%">@Html.Partial("DialogsListPartial", (IEnumerable<Message>) ViewBag.Dialogs) There should be a dialogs list.</td> @{/*there is something wrong here*/}
                </tr>
            </table>
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>
